/* login page start */
._loginPage>._body_img{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("../../image/pageImg/login_02.jpg");
    z-index: 1;
}
._loginPage ._body_cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 163, 133, 0.3);
    z-index: 2;
}
._loginPage ._body_cover>img{
    width: 90px;
    margin: 10px auto 0 auto;
    position: absolute;
    left: calc(50% - 45px);
    top: 20%;
}
/* input */
._loginPage .list-block ul{
    background: none;
    border: 0;
    width: 80%;
    margin: 0 auto 0 auto;
    color: #fff;
}
._loginPage .list-block ul>li{
    border-bottom: 1px solid #959595;
}
._loginPage .list-block ul>li:nth-child(2){
    margin-top: 0.3rem;
}
._loginPage .list-block .item-inner {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
._loginPage .list-block .item-content{
    padding-left: 0;
}
._loginPage .icon-form-name{
    text-align: center;
}
._loginPage .icon-form-name>img{

}
._loginPage .icon-form-name>._userName{
    margin-top: 0.95rem;
    width: 1.3rem;
}
._loginPage .icon-form-name>._passWord{
    margin-top: 0.8rem;
    width: 0.5rem;
}
._loginPage .list-block input[type=text], .list-block input[type=password]{
    font-size: 0.8rem;
    color: #fff;
}
._loginPage .list-block .item-media+.item-inner{
    margin-left: 0.2rem;
}
._loginPage .list-block .item-input{
    margin-top: -.4rem;
}
._loginPage i.icon.icon-form-name{
    height: 2.15rem;
}
._loginPage .list-block .item-media{
    padding-top: 0;
    padding-bottom: 0;
}
._loginPage .list-block .item-input{
    margin-bottom: -0.9rem;
}
._loginPage .content-block>.row{
    margin-left: 0;
}
._loginPage .content-block>.row>._loginButton{
    width: 87%;
    margin: 0 auto 0 auto;
}
._loginPage .button-danger.button-fill{
    font-size: 0.8rem;
    background-color: #7d0000;
}
._loginPage .button-danger.button-fill:active{
    background-color:#842424;
}
._loginPage .content-block>._logon{
    width: 87%;
    margin: 0.5rem auto 0 auto;
    font-size: 0.5rem;
}
._loginPage .content-block>._logon>a{
    color: #616161;
}
._loginPage .content-block>._logon>a:nth-child(1){
    float: left;
}
._loginPage .content-block>._logon>a:nth-child(2){
    float: right;
}
/* form */
._loginPage ._body_form{
    position: relative;
    /*top: 8.5rem;*/
    top: 33rem;
    z-index: 3;
}
/* login page end */

.hide{
    display: none;
}
.content{
    background-color: #fff;
}
.bar-tab{
    background-color: #fff;
}
/* search input */
._index_bar_nav>.searchbar{
    padding-left: 0rem;
}
.searchbar{
    background-color: #fff !important;
}
._index_bar_nav>.searchbar>.search-input>label{
    color: #a16d6d;
}
._index_bar_nav>.searchbar>.search-input>input{
    background-color: #f4f4f4;
    border: 0;
    color: #be9c9c;
}
._index_bar_nav>.searchbar>.search-input>input::-webkit-input-placeholder{
    color: #be9c9c;
}
.search-input label+input{
    padding-left: 2rem;
}

._index_bar_nav .button-link{
    line-height: 1.4rem;
    color: #a16d6d;
}
/* search input */

/* tab01 start*/
.buttons-tab .button{
    color: #be9c9c;
    font-weight: 800;
}
.buttons-tab .button.active{
    color: #be9c9c;
}
.content>.buttons-tab{
    border: 0;
}
.buttons-tab .button.active>span{
    display: block;
    width: 30px;
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    border-color: #7d0000;
    margin-top: -2px;
}
.buttons-tab .button.active{
    border-color: #fff;
}
/* tab01 end */

/* tab02 start */
._indexPage .tabs #tab2{

}
._indexPage .tabs #tab2 .card img{
    width: 100%;
}
._indexPage .tabs #tab2 .card{
    margin-left: 0;
    margin-right: 0;
    box-shadow: none;
}
._indexPage .content-block{
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    margin: 1rem 0 0 0;
}
/* tab02 end */

/* tab04 start */
._indexPage .tabs #tab3, ._indexPage .tabs #tab4{
    margin: 0;
}
._indexPage .tabs #tab3 .card, ._indexPage .tabs #tab4 .card{
    margin: 0.5rem 0;
}
._indexPage .tabs #tab3 .card .list-block .item-subtitle{
    margin-top: 0.55rem;
}
._indexPage .tabs #tab3 .card .list-block{
    margin: -0.6rem 0 0 0;
}
._indexPage .tabs #tab3 .card-header{
    border: 0;
    font-size: 0.8rem;
    font-weight: 500;
}
._indexPage .tabs #tab3 .card-header span{
    float: right;
}
._indexPage .tabs #tab3 .card .card-content ._img{
    float: left;
    display: block;
    width: 0.5rem;
    padding-top: 0.1rem;
}
._indexPage .tabs #tab3 .card .card-content ._img img{
    width: 0.37rem;
}
._indexPage .tabs #tab3 .card .card-content ._type{
    float: left;
    display: block;
    font-weight: 500;
    font-size: 0.8rem;
    width: 4.2rem;
}
._indexPage .tabs #tab3 .card .card-content ._info{
    float: left;
    display: block;
    font-size: 0.5rem;
    padding-top: 0.4rem;
}
._indexPage .tabs #tab4 .card .item-inner{
    margin-left: 0.4rem;
}
._indexPage .tabs #tab4 .card .item-title{
    font-size: 0.6rem;
}
._indexPage .tabs #tab4 .card .item-subtitler{
    font-size: 0.5rem;
    text-align: center;
}
._indexPage .tabs #tab4 .card .item-subtitler img{
    width: 6rem;
    margin-top: 0.4rem;
}
._indexPage .tabs #tab4 ._title01{
    text-align: center;
    margin-top: -15px;
    margin-bottom: 7px;
}
._indexPage .tabs #tab4 ._title01 img{
    width: 35%;
}
._indexPage .tabs #tab4 ._title02 img{
    width: calc(100% + 18px);
    margin-left: -9px;
}
/* tab04 end */

/* iSlider */
#_slide {
    list-style: none;
    padding: 0;
    margin: 0;
}

#_slide > li {
    position: relative;
    width: 100%;
    height: 270px;
    /*margin: 5px auto 32px;*/
    background-size: cover;
}
.islider-outer > li{

    height: calc(100% + 1.5rem);
}
.iEl {
    position: relative;
    height: 100%;
    width: 100%;
}
.iEl>ul>li {
    border-radius: 15px;
    top: -0.7rem;
}
.iEl>ul>li>img {
    opacity: 1 !important;
}
#loadc {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -48px 0 0 -48px;
}

@media (max-width: 500px) {
    #_slide > li {
    /*width: 320px;*/
    height: 180px;
    }
}
._tab01_content-block{
    padding: 0;
}
._tab01_content-block>._slide_div{
    background-color: #eaeaea;
}
/* iSlider */

/* comm page start */

/* comm page end */



.popup > .bar-nav .icon {
    margin-left: 0.3rem;
    color: #666767;
}

.popup > .bar-nav .title {
    color: #000;
    font-weight: 800;
}

#_borrow_popUp .list-block .item-subtitle {
    padding-top: 0.6rem;
    font-size: 0.6rem;
}

#_borrow_popUp .list-block ._otr {
    color: #6a6a6a;
}

#_borrow_popUp .list-block ._otr ._have {
    color: #c0af3b;
}

#_borrow_popUp .list-block ._stat {
    color: #bb3543;
}

#_borrow_popUp > .bar-nav ._edit {
    margin-right: 0.3rem;
    color: #bb3543;
}

#_borrow_popUp ._borrowFooter {
    width: 100%;
    height: 2.2rem;
    position: relative;
    /*top: calc(100% - 2.2rem);*/
    top: 100%;
    background-color: #fff;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn {
    width: 25%;
    float: left;
    padding: 0.1rem;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > div {
    line-height: 2.2rem;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btn {
    background-color: #bfbfbf;
    color: #fff;
    text-align: center;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btn:active {
    background-color: #8c8c8c;
}
#_borrow_popUp .item-content .item-media ._btnSelectBook{
    width: 15%;
    position: relative;
    top: -3.3rem;
    margin-right: 0.35rem;
}
#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btnSelect span:nth-child(1) {
    margin-left: 0.7rem;
}
#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btnSelect span {
    display: block;
    float:  left;
    line-height: 1rem;
}
#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btnSelect img {
    width: 68%;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btnSelect {
    line-height: 2.6rem;
    text-align: center;
    padding-top: 0.65rem;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btn1 {
    margin: 0 0.05rem 0 0.05rem;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btn2 {
    margin: 0 0.05rem;
}

#_borrow_popUp ._borrowFooter > ._borrowFooterBtn > ._btn3 {
    margin: 0 0.05rem 0 0.05rem;;
}

/* _borrow_popUp start */
#_find_popUp > .content {
    width: 100%;
    height: 100%;
}
._class_popUp .tabs .col-33{
    text-align: center;
}
._find_popUp > .content > img {
    width: 100%;
}
._class_popUp .tabs img{
    width: 100%;
}
._class_popUp .tabs .col-33 p{
    padding: 0;
    margin: 0.2rem 0 0.8rem 0;
    font-size: 0.5rem;
    color: #000000;
}
/* _borrow_popUp end */

/* find */
#tab1>._row_2>.col-50>img{
    width: 100%;
}
#tab1>._row_2{
    margin-top: 0.8rem;
}
#tab1>._row_3>span:nth-child(1){
    margin-left: 4%;
    line-height: 1.5rem;
    font-size: 0.6rem;
}
#tab1>._row_3>span:nth-child(2){
    line-height: 1.5rem;
    float: right;
}

#tab1>._row_4{
    margin-left: -4%;
}
#tab1>._row_4>._book{
    float: left;
    width: 24%;
}
#tab1>._row_4>._book>img{
    width: 100%;
}
#tab1>._row_4>._book_01{
    margin-left: 4%;
    padding-right: 0.3rem;
}
#tab1>._row_4>._book_02{
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}
#tab1>._row_4>._book_03{
    padding-right: 0.15rem;
    padding-left: 0.15rem;
}
#tab1>._row_4>._book_04{
    padding-left: 0.3rem;
}
/* find */


/* find page animation start */
#_find_popUp{
    overflow: hidden;
}
._content{
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 22%;
}
._fixContent img{
    width: 100%;
}
._fixContent{
    overflow: hidden;
}

._content>img{
    width: 1.5rem;
    position: absolute;
    left: calc(50% - 0.75rem);

}
.container {
    position: absolute;
    top: 27%;
    left: calc(50% - 19.2%);
    width: 40%;
    z-index: 2;
}

.spliter {
    width: 100%;
    height: 20px;
}

.wave {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 100px;
    font-size: 28px;
}

.wave .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0;
}

/* 波纹效果 */
.wave.ripple .circle {
    width: calc(100% - 6px); /* 减去边框的大小 */
    height: calc(100% - 6px);/* 减去边框的大小 */
    border: 3px solid #fff;
}

.wave.ripple .circle:first-child {
    -webkit-animation: circle-opacity 2s infinite;
}

.wave.ripple .circle:nth-child(2) {
    -webkit-animation: circle-opacity 2s infinite;
    -webkit-animation-delay: 0.4s;
}

.wave.ripple .circle:nth-child(3) {
    -webkit-animation: circle-opacity 2s infinite;
    -webkit-animation-delay: 0.8s;
}

.wave.ripple.danger {
    color: red;
    margin: 0 auto;
}

.wave.ripple.danger .circle {
    border-color: red;
    border: 0;
}



/* 波动效果 */
.wave.solid .circle{
    width: 100%;
    height: 100%;
    background: #fff;
}

.wave.solid .circle:first-child {
    -webkit-animation: circle-opacity 2s infinite;
}

@-webkit-keyframes circle-opacity{
    from {
        -webkit-opacity: 1;
        -webkit-transform: scale(0);
    }
    to {
        -webkit-opacity: 0;
        -webkit-transform: scale(6);
    }
}

/* find page animation end */


/* comm page start */
._commPage .content{
    margin-top: 9.5rem;
}
._commPage ._comm_title{
    width: 100%;
}
._commPage ._comm_title>img{
    width: 100%;
}
._commPage .card img{
    width: 100%;
}
._commPage .card{
    box-shadow: none;
}
._commPage header .search-input{
    z-index: 2;
}
._commPage header .button-link{
    color: #fff;
}
._commPage header img{
    z-index: 1;
    position: relative;
    top: -2.6rem;
    width: calc(100% + 1rem);
}
._commPage .searchbar{
    height: 11.8rem;
}
/* comm page end */

/* mine page start */
._minePage .content{
    margin-top: 9.5rem;
}
._minePage .content img{
    width: 100%;
}
._minePage .searchbar{
    height: 12rem;
}
._minePage .searchbar img{
    z-index: 1;
    position: relative;
    /*top: -2.7rem;*/
    top: -1.9rem;
    width: calc(100% + 1rem);
}
._minePage .search-input{
    z-index: 2;
}
._minePage header .button-link{
    color: #fff;
}
._minePage ._mineSees{
    position: absolute;
    width: 100%;
    height: 2.5rem;
}
/* mine page end */

/* Search page start */
._searchPage{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}
._searchPage ._searchTitle{
    padding: 0.7rem 0.7rem 0 0.7rem;
    color: #d55f5d;
}
._searchPage ._searchInfo{
    padding: 0.4rem 0.7rem 0 0.7rem;
    font-size: 0.7rem;
}
._searchPage ._searchInfo ._searchBook{
    background-color: #f5f5f5;
    width: 4.5rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5rem;
    border-radius: 0.3rem;
    color: #747474;
}
._searchPage ._searchInfo ._searchBook:active{
    background-color: #d0d0d0;
}
/* Search page end */

/* add */
._others{
    height: 1.2rem !important;
}
._otherPop{
    background: rgba(0,0,0,0);
}
._otherPop ._othersImg{
    width: 80%;
    margin: 0 auto;
    padding-top: 0.3rem;
}
._otherPop ._othersImg img{
    width: 100%;
    float: right;
}
._otherPop .popover-inner{
    padding: 0.3rem;
    background-color: #fff;
    float: right;
    width: 5rem;
    height: 6rem;
    border-radius: 0.5rem;
}
._QCPage{
    top: 0 !important;
    left: 0 !important;
}

/* add */