.page>._body_img{
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-image: url("../../image/pageImg/login_02.jpg");
    z-index: 1;
}
._body_cover{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 163, 133, 0.3);
    z-index: 2;
}
._body_cover>img{
    width: 90px;
    margin: 10px auto 0 auto;
    position: absolute;
    left: calc(50% - 45px);
    top: 20%;
}
/* input */
.list-block ul{
    background: none;
    border: 0;
    width: 80%;
    margin: 0 auto 0 auto;
    color: #fff;
}
.list-block ul>li{
    border-bottom: 1px solid #959595;
}
.list-block ul>li:nth-child(2){
    margin-top: 0.3rem;
}
.list-block .item-inner {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.list-block .item-content{
    padding-left: 0;
}
.icon-form-name{
    text-align: center;
}
.icon-form-name>img{

}
.icon-form-name>._userName{
    margin-top: 0.95rem;
    width: 1.3rem;
}
.icon-form-name>._passWord{
    margin-top: 0.8rem;
    width: 0.5rem;
}
.list-block input[type=text], .list-block input[type=password]{
    font-size: 0.8rem;
    color: #fff;
}
.list-block .item-media+.item-inner{
    margin-left: 0.2rem;
}
.list-block .item-input{
    margin-top: -.4rem;
}
i.icon.icon-form-name{
    height: 2.15rem;
}
.list-block .item-media{
    padding-top: 0;
    padding-bottom: 0;
}
.list-block .item-input{
    margin-bottom: -0.9rem;
}
.content-block>.row{
    margin-left: 0;
}
.content-block>.row>._loginButton{
    width: 87%;
    margin: 0 auto 0 auto;
}
.button-danger.button-fill{
    font-size: 0.8rem;
    background-color: #7d0000;
}
.button-danger.button-fill:active{
    background-color:#842424;
}
.content-block>._logon{
    width: 87%;
    margin: 0.5rem auto 0 auto;
    font-size: 0.5rem;
}
.content-block>._logon>a{
    color: #616161;
}
.content-block>._logon>a:nth-child(1){
    float: left;
}
.content-block>._logon>a:nth-child(2){
    float: right;
}
/* form */
._body_form{
    position: relative;
    /*top: 8.5rem;*/
    top: 33rem;
    z-index: 3;
}