.hide{
  display: none;
}
._close_red{
  position: absolute;
  bottom: 0;
  left: 11.7rem;
  padding: 62px 80px;
  /*background-color: red;*/
}
.content>._loading_page{
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
}
.content>._loading_page>img{
  width: 100%;
}
.content>._content{
  width: 100%;
  height: 100%;
}
.content>._content>img{
  width: 100%;
}
.content>._indexBtn{
  position: absolute;
  width: 30%;
}
.content>._indexBtn>img{
  width: 100%;
}
.content>._jin{
  display: none;
  top: 6.5rem;
  left: 6rem;
}
.content>._yuan{
  display: none;
  top: 11rem;
  right: 5.5rem;
}
.content>._ming{
  display: none;
  top: 16rem;
  left: 3rem;
}
.content>._min{
  display: none;
  top: 19.5rem;
  right: 5.5rem;
}
.content>._xin{
  display: none;
  top: 24rem;
  left: 1.5rem;
}
.content>._xian{
  display: none;
  top: 27rem;
  right: 4rem;
}

/* map page */
._page_map>._map_div{
  position: absolute;
  width: 100%;
  height: 100%;
}
._page_map>._map_div>img{
  width: 100%;
}
._page_map>._map_back{
  z-index: 2;
  position: absolute;
  top: 0;
  width: 80px;
  height: 100px;
}
._page_map .swiper-container {
  width: 100%;
  height: 100%;
}
._page_map .swiper-slide>img{
    width: 100%;
}
._page_map ._map_footerBtn{
  position: absolute;
  width: 344px;
  bottom: -15px;
  left: calc(50% - 172px);
}
._page_map>._map_footerBtn>img{
  width: 100%;
}
._page_map>._building_a{
  position: absolute;
   /*background-color: red;*/
  z-index: 3;
}

/* create popup */
._auto_createPopup .content-block{
  padding: 0;
  margin: 0;
}
._auto_createPopup ._swiper-container {
  width: 100%;
  height: 100%;
}
._auto_createPopup ._swiper-container .swiper-slide{
  width: 100% !important;
}
._auto_createPopup ._swiper-container .swiper-slide>img{
    width: 100%;
}
._auto_createPopup ._back{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 3;
  top: 54px;
  left: 33px;
}
._auto_createPopup ._back>img{
  width: 100%;
}
._auto_createPopup ._infoTitle{
  height: 50px;
  position: absolute;
  /* background-color: peru; */
  top: 54px;
  right: 0;
  z-index: 3;
}
._auto_createPopup ._infoTitle>img{
  height: 100%;
}
._auto_createPopup ._backIndex{
  width: 60px;
  height: 60px;
  position: absolute;
  /* background-color: peru; */
  z-index: 3;
  left: 33px;
  bottom: 36px;
}
._auto_createPopup ._backIndex>img{
  width: 100%;
}
._auto_createPopup ._info{
  width: 60px;
  height: 60px;
  position: absolute;
  /* background-color: red; */
  z-index: 3;
  right: 33px;
  bottom: 36px;
}
._auto_createPopup ._info>img{
  width: 100%;
}
._auto_createPopup ._infoPage{
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
._auto_createPopup ._infoPage>img{
  width: 100%;
}
._auto_createPopup ._infoPage>div{
  width: 70px;
  height: 70px;
   /*background-color: red;*/
  position: absolute;
  bottom: 103px;
  left: calc(50% - 35px);
}

/* jin building start */
._page_map>._jin_1{
  top: 5.5rem;
  left: 12.2rem;
  padding: 87px 44px;

}
._page_map>._jin_2{
  top: 29.5rem;
  left: 3rem;
  padding: 43px 118px;
}
._page_map>._jin_3{
  top: 20rem;
  left: 21.5rem;
  padding: 70px 81px;
}
/* jin building end */

/* yuan building start */
._page_map>._yuan_1{
  top: 7.5rem;
  left: 5rem;
  padding: 62px 100px;
}
._page_map>._yuan_2{
  top: 19rem;
  left: 4rem;
  padding: 84px 48px;
}
._page_map>._yuan_3{
  top: 20.2rem;
  left: 11rem;
  padding: 55px 83px;
}
._page_map>._yuan_4{
  top: 17.9rem;
  left: 21.2rem;
  padding: 52px 90px;
}
._page_map>._yuan_5{
  top: 26rem;
  left: 4.4rem;
  padding: 88px 34px;
}

/* yuan building end */

/* ming building start */
._page_map>._ming_1{
  top: 8.5rem;
  left: 15.5rem;
  padding: 49px 106px;
}
._page_map>._ming_2{
  top: 7.5rem;
  left: 5rem;
  padding: 62px 100px;
}
._page_map>._ming_3{
  top: 14.5rem;
  left: 2rem;
  padding: 85px 62px;
}
._page_map>._ming_4{
  top: 14.5rem;
  left: 10rem;
  padding: 46px 56px;
}
._page_map>._ming_5{
  top: 14.5rem;
  left: 18.5rem;
  padding: 45px 45px;
}
._page_map>._ming_6{
  top: 21.5rem;
  left: 11rem;
  padding: 49px 48px;
}
._page_map>._ming_7{
  top: 18.5rem;
  left: 13rem;
  padding: 35px 90px;
}
._page_map>._ming_8{
  top: 19.5rem;
  left: 25rem;
  padding: 34px 55px;
}
._page_map>._ming_9{
  top: 22.5rem;
  left: 17rem;
  padding: 37px 61px;
}
._page_map>._ming_10{
  top: 26.5rem;
  left: 2rem;
  padding: 66px 39px;
}
._page_map>._ming_11{
  top: 27.5rem;
  left: 19rem;
  padding: 61px 55px;
}
/* ming building end */

/* min building start */
._page_map>._min_1{
  top: 8.5rem;
  left: 16.5rem;
  padding: 47px 71px;
}
._page_map>._min_2{
  top: 9rem;
  left: 6rem;
  padding: 36px 109px;
}
._page_map>._min_3{
  top: 12.5rem;
  left: 6.5rem;
  padding: 55px 71px;
}
._page_map>._min_4{
  top: 12.5rem;
  left: 18rem;
  padding: 52px 71px;
}
._page_map>._min_5{
  top: 18.5rem;
  left: 17rem;
  padding: 47px 71px;
}
/* min building end */

/* xin building start */
._page_map>._xin_1{
  top: 10.5rem;
  left: 7rem;
  padding: 61px 77px;
}
/* xin building start */
._page_map>._xin_2{
  top: 15.5rem;
  left: 12.5rem;
  padding: 63px 100px;
}
/* xin building start */
._page_map>._xin_3{
  top: 15.5rem;
  left: 0rem;
  padding: 47px 74px;
}
/* xin building start */
._page_map>._xin_4{
  top: 21.5rem;
  left: 6rem;
  padding: 31px 100px;
}
/* xin building start */
._page_map>._xin_5{
  top: 22rem;
  left: 16rem;
  padding: 29px 100px;
}
/* xin building start */
._page_map>._xin_6{
  top: 26.5rem;
  left: 18rem;
  padding: 40px 108px;
}
/* xin building end */

/* xian building start */
._page_map>._xian_1{
  top: 9.5rem;
  left: 4rem;
  padding: 34px 88px;
}
._page_map>._xian_2{
  top: 10rem;
  left: 13rem;
  padding: 31px 71px;
}
._page_map>._xian_3{
  top: 7.5rem;
  left: 23rem;
  padding: 46px 51px;
}
._page_map>._xian_4{
  top: 12.5rem;
  left: 0rem;
  padding: 42px 80px;
}
._page_map>._xian_5{
  top: 19.5rem;
  left: 7rem;
  padding: 30px 73px;
}
._page_map>._xian_6{
  top: 13.5rem;
  left: 22rem;
  padding: 41px 73px;
}
._page_map>._xian_7{
  top: 17.5rem;
  left: 23rem;
  padding: 61px 59px;
}
._page_map>._xian_8{
  top: 30.5rem;
  left: 3rem;
  padding: 41px 109px;
}
/* xian building end */
