/* body ._map_div{
  position: absolute;
  width: 100%;
  height: 100%;
}
body ._map_div>img{
  width: 100%;
}
body ._map_back{
  position: absolute;
  top: 0;
  width: 80px;
  height: 100px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide>img{
    width: 100%;
}
body ._map_footerBtn{
  position: absolute;
  width: 344px;
  bottom: 10px;
  left: calc(50% - 172px);
}
body ._map_footerBtn>img{
  width: 100%;
} */

_page_map ._map_div{
  position: absolute;
  width: 100%;
  height: 100%;
}
_page_map ._map_div>img{
  width: 100%;
}
_page_map ._map_back{
  position: absolute;
  top: 0;
  width: 80px;
  height: 100px;
}
_page_map .swiper-container {
  width: 100%;
  height: 100%;
}
_page_map .swiper-slide>img{
    width: 100%;
}
_page_map ._map_footerBtn{
  position: absolute;
  width: 344px;
  bottom: 10px;
  left: calc(50% - 172px);
}
_page_map ._map_footerBtn>img{
  width: 100%;
}